@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  background-color: #2e3969;
  color: #e1f0ff;
  font-family: system-ui, sans-serif, "Segoe UI", "Roboto", "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}